*:focus {
  outline: none;
}

.reqBody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.addbloodrequestcontainer {
  margin-top: 6rem;
  background: #fff;
  width: 850px;
  padding: 10px 40px 10px 40px;
  box-shadow: 0px 0px 10px 5px #adb5bd;
}

select {
  color: #959ea7;
}
select:focus {
  color: black;
  border-bottom: 2px solid black;
}
select:visited {
  color: black;
  border-bottom: 2px solid black;
}

.addbloodrequestcontainer .text {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    rgb(204, 35, 35),
    rgb(106, 26, 26),
    rgb(213, 13, 13),
    rgb(232, 14, 14)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.addbloodrequestcontainer form .form-row {
  display: flex;
  margin: 32px 0;
  justify-content: center;
}
form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 5px;
  position: relative;
}
form .form-row .textarea {
  height: 40px;
}
.input-data input,
.textarea textarea,
select {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before,
section {
  transform: scale(1);
}
.sm-btn {
  overflow: hidden;
  height: 45px !important;
}
.sm-btn {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(
    right,
    rgb(30, 2, 2),
    rgb(249, 13, 13),
    rgb(182, 10, 10),
    rgb(13, 1, 1)
  ) !important;
  transition: all 0.4s;
}
.submit-btn {
  left: 0;
}
.sm-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .addbloodrequestcontainer .text {
    font-size: 30px;
  }
  .addbloodrequestcontainer form {
    padding: 10px 0 0 0;
  }
  .addbloodrequestcontainer form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .sm-btn {
    width: 40% !important;
  }
}
