body {
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.adminMainContainer{
   height: auto;
}

.adminHeader {
  display: flex;
  background-color: white;
  color: red;
  padding: 20px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.dropdown-menu {
  width: inherit;
  background-color: red;
  color: white;
  transition: 0 !important;
}

.adminWrapper{
  display: flex;
  height: 89vh;
}

.adminUl {
  padding-left: 0 !important;
  position: static;
  width: 20rem;
  height: inherit;
  backdrop-filter: blur(20px);
  box-shadow: 0 35px 30px rgba(0,0,0,.5);
}

.adminLi {
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid #d9534f;
}

.adminLi button {
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background-color 0.8s ease;
}

.adminLi button:hover {
  background-color: red;
  color: whitesmoke;
}

.active{
  background-color: red;
  color: whitesmoke;
}

main {
  flex: 1; 
  padding: 20px;
  overflow-y: auto;
}

@media (max-width:1470px) {

  .adminWrapper{
    display: flex;
    height: 75vh;
  }
  
  .adminUl {
    position: static;
    display: flex;
    height: 89vh;
  }
  
  .adminLi {
    height: 5rem;
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 1px solid #d9534f;
  }
  
  .adminLi:hover{
    background-color: #d9534f;
    color: whitesmoke;
  }
  

}