/* adminDashboard.css */

/* Body styles */
body {
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.adminMainContainer{
   height: auto;
}

/* Header styles */
.adminHeader {
  display: flex;
  background-color: white;
  color: red;
  padding: 20px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.dropdown-menu {
  width: inherit;
  background-color: red;
  color: white;
  transition: 0 !important;
}

.adminWrapper{
  display: flex;
}

.adminNavbar {
  background-color: white;
  width:20rem;
  padding-top: 20px;
  height: 86vh;
  backdrop-filter: blur(20px);
  box-shadow: 0 35px 30px rgba(0,0,0,.5);
}

.adminUl {
  width: 100%;
}

.adminLi {
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid #d9534f;
}

.adminLi button {
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background-color 0.8s ease;
}

.adminLi button:hover {
  background-color: red;
}
main {
  flex: 1; 
  padding: 20px;
  overflow-y: auto;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Push the footer to the bottom */
}
