* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}

.hospitals-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.hospital-item {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.hospital-image {
  width: 100%;
  height: 15rem;
  transition: transform 0.3s ease;
}

.hospital-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.hospital-item:hover .hospital-details {
  transform: translateY(0);
}
.hospital-item:hover .hospital-image {
  transform: scale(1.1);
}
