.users-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto;
}

.users-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  overflow-x: auto;
  align-items: center;
}

.user-card {
  flex: 0 0 auto;
  min-width: 250px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.user-image-container {
  margin-bottom: 10px;
}

.user-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.user-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.user-details p {
  margin: 5px 0;
}

.green-border {
  border: 3px solid green;
}

.red-border {
  border: 3px solid red;
}
.not-found {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  color: red;
}
